language: ruby
rvm:
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0
gemfile:
  - gemfiles/Gemfile.activesupport-4.x
  - gemfiles/Gemfile.activesupport-5.x
  - gemfiles/Gemfile.activesupport-6.x
jobs:
  exclude:
    - rvm: 2.4.9
      gemfile: gemfiles/Gemfile.activesupport-6.x
    - rvm: 2.7.0
      gemfile: gemfiles/Gemfile.activesupport-4.x
  include:
    - rvm: ruby-head
      gemfile: gemfiles/Gemfile.activesupport-edge
  include:
    - rvm: jruby-head
      gemfile: gemfiles/Gemfile.activesupport-edge
  allow_failures:
    - gemfile: gemfiles/Gemfile.activesupport-edge
  fast_finish: true
