language: ruby
rvm:
  - 2.2.10
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - ruby-head
  - jruby-9.0.4.0
  - jruby-head
before_install:
  - bundler --version || gem install bundler
gemfile:
  - gemfiles/Gemfile.activesupport-4.0.x
  - gemfiles/Gemfile.activesupport-4.1.x
  - gemfiles/Gemfile.activesupport-4.2.x
  - gemfiles/Gemfile.activesupport-5.0.x
  - gemfiles/Gemfile.activesupport-5.1.x
  - gemfiles/Gemfile.activesupport-5.2.x
  - gemfiles/Gemfile.activesupport-edge
matrix:
  allow_failures:
    - gemfile: gemfiles/Gemfile.activesupport-edge
    - rvm: ruby-head
    - rvm: jruby-head
